<div class="page-header">
  <h1><span class="icon-camera"></span> <%= t "common.pictures_videos" %></h1>
</div>

<div class="row">
	<div class="span6">
	  <ul class="thumbnails">
	    <li class="span4">
	      <a href="/assets/pic-1-600.jpg" class="thumbnail" data-bitly-type="bitly_hover_card">
	         <%= image_tag("pic-1-360.jpg") %>
	      </a>
	    </li>
	    <li class="span2">
	      <a href="/assets/pic-4-600.jpg" class="thumbnail" data-bitly-type="bitly_hover_card">
	         <%= image_tag("pic-4-160.jpg") %>
	      </a>
	    </li>
	    <li class="span2">
	      <a href="/assets/pic-5-600.jpg" class="thumbnail" data-bitly-type="bitly_hover_card">
	         <%= image_tag("pic-5-160.jpg") %>
	      </a>
	    </li>
	    <li class="span2">
	      <a href="/assets/pic-6-600.jpg" class="thumbnail" data-bitly-type="bitly_hover_card">
	         <%= image_tag("pic-6-160.jpg") %>
	      </a>
	    </li>
	    <li class="span2">
	      <a href="/assets/pic-7-600.jpg" class="thumbnail" data-bitly-type="bitly_hover_card">
	         <%= image_tag("pic-7-160.jpg") %>
	      </a>
	    </li>
	    <li class="span2">
	      <a href="/assets/pic-12-600.jpg" class="thumbnail" data-bitly-type="bitly_hover_card">
	         <%= image_tag("pic-12-160.jpg") %>
	      </a>
	    </li>
	  </ul>
	</div>
	<div class="span6">
	  <ul class="thumbnails">
	    <li class="span4">
	      <a href="/assets/pic-2-600.jpg" class="thumbnail" data-bitly-type="bitly_hover_card">
	         <%= image_tag("pic-2-360.jpg") %>
	      </a>
	    </li>
	    <li class="span2">
	      <a href="/assets/pic-3-600.jpg" class="thumbnail" data-bitly-type="bitly_hover_card">
	         <%= image_tag("pic-3-160.jpg") %>
	      </a>
	    </li>
	    <li class="span2">
	      <a href="/assets/pic-8-600.jpg" class="thumbnail" data-bitly-type="bitly_hover_card">
	         <%= image_tag("pic-8-160.jpg") %>
	      </a>
	    </li>
	    <li class="span2">
	      <a href="/assets/pic-9-600.jpg" class="thumbnail" data-bitly-type="bitly_hover_card">
	         <%= image_tag("pic-9-160.jpg") %>
	      </a>
	    </li>
	    <li class="span2">
	      <a href="/assets/pic-10-600.jpg" class="thumbnail" data-bitly-type="bitly_hover_card">
	         <%= image_tag("pic-10-160.jpg") %>
	      </a>
	    </li>
	    <li class="span2">
	      <a href="/assets/pic-11-600.jpg" class="thumbnail" data-bitly-type="bitly_hover_card">
	         <%= image_tag("pic-11-160.jpg") %>
	      </a>
	    </li>
	  </ul>
	</div>
</div>
<div class="row">
    <div class="span6">
      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail" data-bitly-type="bitly_hover_card">
            <img src="http://placehold.it/360x268" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail" data-bitly-type="bitly_hover_card">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail" data-bitly-type="bitly_hover_card">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail" data-bitly-type="bitly_hover_card">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail" data-bitly-type="bitly_hover_card">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail" data-bitly-type="bitly_hover_card">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
      </ul>
    </div>	
    <div class="span6">
      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail" data-bitly-type="bitly_hover_card">
            <img src="http://placehold.it/360x268" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail" data-bitly-type="bitly_hover_card">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail" data-bitly-type="bitly_hover_card">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail" data-bitly-type="bitly_hover_card">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail" data-bitly-type="bitly_hover_card">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail" data-bitly-type="bitly_hover_card">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>  