<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">MERSEA VILL&#581;</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><%= link_to "Home", :controller => "guests", :action => "index" %></li>
          <li><%= link_to "Pictures", :controller => "guests", :action => "multimedia" %></li>
          <li><%= link_to "What's include", :controller => "guests", :action => "included" %></li>
          <li><%= link_to "Pricing", :controller => "guests", :action => "pricing" %></li>
          <li><%= link_to "About us", :controller => "guests", :action => "aboutus" %></li>
          <li><%= link_to "About St. Maarten", :controller => "guests", :action => "aboutstmaarten" %></li>
          <li><%= link_to "Availabilities", :controller => "calendar" %></li>          
          <li><%= link_to "Contact us", :controller => "contact" %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>